.idea
venv
.venv
.DS_Store
.hosts
hosts
/roles/fortigate.ztp/files/tmp/
/roles/fortigate.ztp/vars/fortigates/
/roles/fortigate.ztp/files/spreadsheets/Evoke_SDWAN_Demo.xlsx
/roles/fortigate.ztp/files/spreadsheets/Evoke_Ansible_ZTP_v1.14.xlsx
