{% if (item.1.radius_servers | length > 0)  %}
config user group
{% for radius in item.1.radius_servers %}
    edit {{ radius.name }}_grp
        set member {{ radius.name }}
    next
{% endfor %}
end
{% endif %}

