config system interface
    {% if item.1.fgt_wan1_port %}
    edit {{ item.1.fgt_wan1_port }}
        set vdom root
        set type physical
{% if item.1.fgt_wan1_ip %}
        set mode static
        set ip {{ item.1.fgt_wan1_ip }}
{% else %}
        set mode dhcp
{% endif %}
        set alias "WAN1"
        set inbandwidth {{ item.1.fgt_wan1_dl_speed_kbps }}
        set outbandwidth {{ item.1.fgt_wan1_ul_speed_kbps }}
        set estimated-downstream-bandwidth {{ item.1.fgt_wan1_dl_speed_kbps }}
        set estimated-upstream-bandwidth {{ item.1.fgt_wan1_ul_speed_kbps }}
        set role wan
        set allowaccess ping
    next
    {% endif %}
    {% if item.1.fgt_wan2_port %}
    edit {{ item.1.fgt_wan2_port }}
        set vdom root
        set type physical
{% if item.1.fgt_wan2_ip %}
        set mode static
        set ip {{ item.1.fgt_wan2_ip }}
{% else %}
        set mode dhcp
{% endif %}
        set alias "WAN2"
        set inbandwidth {{ item.1.fgt_wan2_dl_speed_kbps }}
        set outbandwidth {{ item.1.fgt_wan2_ul_speed_kbps }}
        set estimated-downstream-bandwidth {{ item.1.fgt_wan2_dl_speed_kbps }}
        set estimated-upstream-bandwidth {{ item.1.fgt_wan2_ul_speed_kbps }}
        set role wan
        set allowaccess ping
    next
    {% endif %}
    {% if item.1.fgt_wan3_port %}
    edit {{ item.1.fgt_wan3_port }}
        set vdom root
        set type physical
{% if item.1.fgt_wan3_ip %}
        set mode static
        set ip {{ item.1.fgt_wan3_ip }}
{% else %}
        set mode dhcp
{% endif %}
        set alias "WAN3"
        set inbandwidth {{ item.1.fgt_wan3_dl_speed_kbps }}
        set outbandwidth {{ item.1.fgt_wan3_ul_speed_kbps }}
        set estimated-downstream-bandwidth {{ item.1.fgt_wan3_dl_speed_kbps }}
        set estimated-upstream-bandwidth {{ item.1.fgt_wan3_ul_speed_kbps }}
        set role wan
        set allowaccess ping
    next
    {% endif %}
end
