config system admin
    edit "admin"
        config gui-dashboard
            edit 3
                set name "Network"
                set vdom "root"
                config widget
                    edit 1
                        set type routing
                        set x-pos 2
                        set width 2
                        set height 1
                        set router-view-type "staticdynamic"
                    next
                    edit 3
                        set type virtual-wan
                        set x-pos 3
                        set width 2
                        set height 1
                    next
                    edit 4
                        set type ipsec-vpn
                        set x-pos 4
                        set width 2
                        set height 1
                    next
                    {% if item.1.fgt_wan1_port %}
                    edit 0
                        set type tr-history
                        set width 2
                        set height 1
                        set interface {{ item.1.fgt_wan1_port }}
                    next
                    {% endif %}
                    {% if item.1.fgt_wan2_port %}
                    edit 0
                        set type tr-history
                        set x-pos 1
                        set width 2
                        set height 1
                        set interface {{ item.1.fgt_wan2_port }}
                    next
                    {% endif %}
                    {% if item.1.fgt_wan3_port %}
                    edit 0
                        set type tr-history
                        set x-pos 1
                        set width 2
                        set height 1
                        set interface {{ item.1.fgt_wan3_port }}
                    next
                    {% endif %}
                end
            next
        end
    next
end