{% if item.1.ipsec | length > 0 %}
config vpn ipsec phase2-interface
{% for vpn in item.1.ipsec %}
    edit "{{ vpn.vpn_name }}"
        set phase1name "{{ vpn.vpn_name }}"
        set proposal {{ vpn.phase2_encryption | lower }}-{{ vpn.phase2_authentication | lower}}
        set keylifeseconds {{ vpn.phase2_key_lifetime }}
        set dhgrp {{ vpn.phase2_dh_group }}
        set auto-negotiate enable
    next
{% endfor %}
end
{% endif %}

