{% if item.1.fgt_static_routes | length > 0 %}
config router static
{% for route in item.1.fgt_static_routes %}
    edit 0
        set dst {{ route.destination }}
{% if route.gateway %}
        set gateway {{ route.gateway }}
{% endif %}
        set device {{ route.interface }}
{% if route.comment %}
        set comment {{ route.comment }}
{% else %}
        set comment "{{ item.1.fmgr_object_description_string }}"
{% endif %}
    next
{% endfor %}
end
{% endif %}