{% if item.1.sdwan_interfaces | length > 0 %}
config system sdwan
    set status enable
    config members
{% for sdwintf in item.1.sdwan_interfaces %}
{% if sdwintf.type == 'overlay' %}
        edit 0
            set interface "{{ sdwintf.interface }}"
            set zone "{{ sdwintf.zone }}"
{% if sdwintf.gateway %}
            set gateway {{ sdwintf.gateway }}
{% endif %}
{% if sdwintf.cost %}
            set cost {{ sdwintf.cost }}
{% endif %}
        next
{% endif %}
{% endfor %}
    end
end
{% endif %}