{% if item.1.bgp_community_lists | length > 0 %}
config router community-list
{% for list in item.1.bgp_community_lists %}
    edit "{{ list.name }}"
        config rule
            edit 0
                set action {{ list.action }}
                set match {{ list.match }}
        end
    next
{% endfor %}
end
{% endif %}