{% if item.1.bgp_neighbors | length > 0 %}
config router static
{% for neighbor in item.1.bgp_neighbors -%}
    edit 0
        set dst {{ neighbor.neighbor_ip }} 255.255.255.255
        set device "{{ neighbor.local_interface }}"
    next
{% endfor %}
end
{% endif %}