{% if item.1.bgp_neighbors | length > 0 %}
config router bgp
    config neighbor
{% for neighbor in item.1.bgp_neighbors %}
        edit "{{ neighbor.neighbor_ip }}"
            set advertisement-interval {{ neighbor.advertisement_interval }}
            set link-down-failover {{ neighbor.link_failover }}
            set soft-reconfiguration enable
            set description "{{ neighbor.comments }}"
            set interface "{{ neighbor.local_interface }}"
            set remote-as {{ neighbor.remote_as }}
            set connect-timer {{ neighbor.connect_timer }}
{% if neighbor.route_map_in %}
            set route-map-in {{ neighbor.route_map_in }}
{% endif %}
{% if neighbor.route_map_out %}
            set route-map-out {{ neighbor.route_map_out }}
{% endif %}
{% if neighbor.route_map_out_preferable %}
            set route-map-out-preferable {{ neighbor.route_map_out_preferable }}
{% endif %}
        next
{% endfor %}
    end

end
{% endif %}
