{% if item.1.fgt_lan_vlan_map | length > 0 %}
config router bgp
    config network
{% for network in item.1.fgt_lan_vlan_map -%}
{% if (network.bgp_network | lower == "yes") and (network.ipv4_subnet) %}
        edit 0
            set prefix {{ network.ipv4_subnet }}
        next
{% endif %}
{% endfor %}
    end
    config network6
{% for network in item.1.fgt_lan_vlan_map -%}
{% if (network.bgp_network | lower == "yes") and (network.ipv6_subnet) %}
        edit 0
            set prefix {{ network.ipv6_subnet }}
        next
{% endif %}
{% endfor %}

end
{% endif %}
