{% if item.1.sdwan_rules | length > 0 %}
config system sdwan
    config service
{% for rule in item.1.sdwan_rules %}
        edit "{{ rule.priority }}"
            set name "{{ rule.name }}"
            set mode {{ rule.mode }}
            set src "{{ rule.source_address_object }}"
            set dst "{{ rule.destination_address_object }}"
            set health-check "{{ rule.measured_sla_name }}"
{% if rule.mode == 'priority' %}
            set priority-members {{ rule.sdwan_member_ids }}
{% endif %}
{% if rule.forward_dscp %}
            set dscp-forward {{ rule.forward_dscp }}
{% endif %}
{% if rule.reverse_dscp %}
            set dscp-reverse {{ rule.reverse_dscp }}
{% endif %}
{% if rule.mode == 'priority' %}
            set priority-members {{ rule.sdwan_member_ids }}
{% endif %}
        next
{% endfor %}
    end
end
{% endif %}
