{% if (item.1.fgt_lan_vlan_map | length > 0)  %}
config system interface
{% for vlan in item.1.fgt_lan_vlan_map %}
{% if (vlan.vlan_id != 0) and (vlan.physical_interface == 'fortilink') %}
    edit {{ vlan.network_alias }}
        set vlanid {{ vlan.vlan_id }}
        set color 1
        set interface fortilink
        set mode static
        set vdom {{ item.1.fgt_vdom }}
        set ip {{ vlan.ipv4_gateway }}
        set allowaccess {{ vlan.allow_access | join(' ') }}
        set device-identification {{ vlan.device_detection }}
    next
{% endif %}
{% endfor %}
end
{% endif %}