{% if item.1.fortiswitches | length > 0  %}
config switch-controller managed-switch
{% for switch in item.1.fortiswitches %}
    edit {{ switch.fortiswitch_serial_number }}
{% if switch.ports | length > 0 %}
        config ports
{% for port in switch.ports %}
            edit port{{port.port}}
{% if port.nac_profile %}
                set access-mode nac
                set port-security-policy {{ port.nac_profile }}
{% else %}
{% if port.native_vlan %}
                set vlan {{ port.native_vlan }}
{% endif %}
{% endif %}
{% if port.allowed_vlans %}
{% if port.allowed_vlans[0] == "all" %}
                set allowed-vlans-all enable
{% elif port.allowed_vlans | length > 0 %}
                set allowed-vlans {% for allowed_vlan in port.allowed_vlans %}{{ allowed_vlan }} {% endfor %}

{% endif %}
{% endif %}
                set stp-state {{ port.stp }}
                set stp-root-guard {{ port.stp_root_guard }}
                set stp-bpdu-guard {{ port.stp_bpdu_guard }}
                set edge-port {{ port.edge_port }}
                set dhcp-snooping {{ port.dhcp_snooping }}
                set loop-guard {{ port.loop_guard }}
                set qos-policy {{ port.qos_policy }}
            next
{% endfor %}
        end
{% endif %}
    next
{% endfor %}
end
{% endif %}