{% if (item.1.fortiaps | length > 0) %}
config wireless-controller wtp
{% for fap in item.1.fortiaps %}
    edit {{ fap.fortiap_serial_number }}
        set admin enable
        set wtp-profile {{ fap.fap_profile }}
    next
{% endfor %}
end
{% endif %}