{% if (item.1.fap_ssids | length > 0) %}
config wireless-controller vap
{% for ssid in item.1.fap_ssids %}
    edit {{ ssid.ssid }}
        set ssid "{{ ssid.ssid }}"
        set schedule always
        set broadcast-ssid {{ ssid.broadcast_ssid }}
        set security "{{ ssid.security_mode }}"
{% if "enterprise" in ssid.security_mode and "captive" not in ssid.security_mode %}
        set auth radius
        set radius-server "{{ ssid.radius_server }}"
        set usergroup "{{ ssid.radius_server }}_grp"
{% endif %}
{% if "captive" in ssid.security_mode %}
        set external-web "{{ ssid.captive_portal_url }}"
{% endif %}
{% if 'captive' in ssid.security_mode and ssid.captive_user_groups %}
        set selected-usergroups "{{ ssid.captive_user_groups }}"
{% endif %}
{% if "personal" in ssid.security_mode %}
        set passphrase {{ ssid.passphrase }}
{% endif %}
{% if ssid.traffic_mode == "bridge" %}
        set local-bridging enable
{% endif %}
{% if ssid.bridge_vlan %}
        set vlanid {{ ssid.bridge_vlan }}
{% endif %}
{% if ssid.traffic_mode == "mesh" %}
        set mesh-backhaul enable
{% endif %}
    next
{% endfor %}
end
{% endif %}