{% if (item.1.fap_ssids | length > 0) %}
config system interface
{% for ssid in item.1.fap_ssids %}
{% if ssid.traffic_mode == "tunnel" %}
    edit {{ ssid.ssid }}
        set vdom {{ item.1.fgt_vdom }}
        set ip {{ ssid.tunnel_ipv4_gateway | ansible.netcommon.ipaddr('address') }} {{ ssid.tunnel_ipv4_gateway | ansible.netcommon.ipaddr('netmask') }}
        set allowaccess ping
    next
{% endif %}
{% endfor %}
end
{% endif %}