##General Settings
config system global
    set admintimeout 60
    set gui-theme blue
    set alias $(fgt_name)
    set hostname $(fgt_name)
end
config system settings
    set gui-dns-database enable
    set gui-dynamic-routing enable
    set gui-multiple-utm-profiles enable
    set gui-allow-unnamed-policy enable
    set gui-multiple-interface-policy enable
end
